@CHARSET "UTF-8";

html{
	padding-left: 50%;
	font-family: "맑은 고딕", "Malgun Gothic", "굴림";
	margin-left: -480px;
}

#header {
	width: 960px;
	height: 160px;
}

#header img {
	display: block;
	margin: 80px auto 0 auto;
	padding: 0;
}

.nav-ele{
	display: table-cell;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
}

.nav-active{
	background-color: #44757d;
}

#nav {
	background-color: #54919C;
	width: 960px;
	height: 40px;
	margin-bottom: 10px;
}

#nav ul {
	list-style-type: none; 
}

#nav ul li{
	font-size: 16px;
	color: white;
	float: left;
}

#nav ul li a{
	text-decoration: none;
	color: white;
}

#nav ul li a:visited{
	text-decoration: none;
	color: white;
}

#cur-nav{
	display: none;
}

#main-image{
	width: 960px;
	text-align: center;
}

#main-image h2, #main-image h4{
	color: white;
	position: relative;
	top: -250px;	
	text-shadow: 0 0 5px black;
}

.main-intro{
	float: left;
	text-align: center;
	width: 320px;
	height: 200px;
}
 
.main-intro i{
	color: #54919C;
}

#piano{
	width: 960px;
	height: 300px;
	border: 1px solid grey;
}

#pianostring{
	display: none;
}

#pianokey{
	padding: 0 50px;
}

#sharp{
	position: relative;
	top: -300px;
	padding: 0 50px;
}

#sharp div:nth-child(1){
	position: relative;
	left: 30px;
}
#sharp div:nth-child(2){
	position: relative;
	left: 70px;
}

#sharp div:nth-child(3){
	position: relative;
	left: 230px;
}

#sharp div:nth-child(4){
	position: relative;
	left: 270px;
}

#sharp div:nth-child(5){
	position: relative;
	left: 310px;
}

.whitekey{
	float: left;
	width: 120px;
	height: 300px;
	border: 1px solid grey;
}

.blackkey{
	float: left;
	width: 80px;
	height: 200px;
	background-color: black;
}

